---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% include head.html %}

<body>

  {% include header.html %}

  <main aria-label="Content">
    <div id="content-container" class="container">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}

</body>

</html>