.design-panel-title {
    font-weight: bold;
}

.info-panel-header {
    font-weight: bold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background:#9292f7;
}

.info-panel-content-header {
    font-weight: bold
}

.title-left {
    font-weight: bold;
    border-top-right-radius: 10px;
    background:#9292f7;
}

.title-right {
    font-weight: bold;
    border-top-left-radius: 10px;
    background:#9292f7;
}

.side-panel {
    background-color: #e4e4ff;
}

.side-panel-left {
    background:#9292f7;
    border-bottom-right-radius: 10px;
    min-height: 1vw;
    margin-bottom: 10px;
}

.side-panel-right {
    background:#9292f7;
    border-bottom-left-radius: 10px;
    min-height: 1vw;
    margin-bottom: 10px;
}

.middle-panel {
    padding-left: 10px;
    padding-right: 10px;
}

.component-title {
    font-weight: bold;
}

.section-title {
    font-weight: bold;
}

.error-bar {
    font-weight: bold;
    background-color: rgb(211, 74, 74);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.news-article {
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #9292f7;
}

.news-icon {
    padding-right: 0px;
    margin-right: 0px;
}

.small-space-left {
    padding-left: 5px;
}

.space-left {
    padding-left: 10px;
    margin-left: 10px;
}

.news-icon {
    width: 100px;
    height: 100px;
}

.news-title {
    padding: 8px 15px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #ecf0f1;
    border-radius: 4px;
  }

.news-title > li {
    display: inline-block;
 }

.news-title > li + li:before {
    content: "-\00a0";
    padding: 0 5px;
    color: #cccccc;
 }

.news-title-button {
    padding: 8px 15px;
    margin-bottom: 10px;
}

.user-news-input {
    width: 100%;
    resize: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

.news-icon-thumbnail {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding: 5px;
}

.news-icon-thumbnail-active {
    width: 50px;
    height: 50px;
    background:#9292f7;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
}

.option-desc {
    padding-left: 15px;
    font-size: small;
    font-style: italic;
}

.planet-status-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.hover-section {
    position: relative;
    display: inline-block;
}

.hover-section .hover-text {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.hover-section:hover .hover-text {
    visibility: visible;
}

.current-research {
    padding: 0.5em;
    margin: 0.5em;
    border-width: 0.15em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #9292f7;
}

.current-project {
    padding: 0.5em;
    margin: 0.5em;
    border-width: 0.15em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #9292f7;
}

.space-top {
    padding-top: 0.5em;
    margin-top: 0.5em;
}

.selected-chassis {
    font-weight: bold
}

.available-component {
    padding: 0.5em;
    margin: 0.5em;
    border-width: 0.15em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #9292f7;
}

.selected-component {
    padding: 0.5em;
    margin: 0.5em;
    border-width: 0.15em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #9292f7;
}

.ship-name-input {
    width: 100%;
    resize: none;
}

.panel-sub-title {
    font-weight: bold
}

.panel-table-heading {
    font-weight: bold
}

.command-button {
    padding-top: 0.5em;
    margin-top: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.5em;
}
