.masthead,
.navbar {
    background-color: rgb(27, 28, 29);
}

.navbar-default .navbar-nav > .active > a {
    background-color: transparent;
    border-bottom: 2px solid white;
}

.navbar-nav {
    padding-bottom: 2px;
}

.masthead {
    margin-top: -21px;
    color: white;
    text-align: center;
    min-height: 500px;
}

.masthead .header {
    max-width: 700px;
    margin: 0 auto;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.masthead h1.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4.5em;
    line-height: 1.2em;
    font-weight: normal;
 }

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.masthead .btn {
    margin: 1em 0;
}

.breadcrumb {
    margin-bottom: 0px;
}

.infoitem {
  padding: 8px 15px;
  list-style: none;
  background-color: #ecf0f1;
  border-radius: 4px;
}
.infoitem > li {
  display: inline-block;
}
.infoitem > li + li:before {
  content: "-\00a0";
  padding: 0 5px;
  color: #cccccc;
}

/* Common styles for all types */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout-info {
  border-left-color: #1b809e;
}

/* Space things out */
.bs-docs-section {
  margin-bottom: 60px;
}
.bs-docs-section:last-child {
  margin-bottom: 0;
}

#message {
    margin-bottom: 40px;
}

.design-panel-title {
    font-weight: bold;
}

.info-panel-header {
    font-weight: bold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background:#9292f7;
}

.info-panel-content-header {
    font-weight: bold
}

.title-left {
    font-weight: bold;
    border-top-right-radius: 10px;
    background:#9292f7;
}

.title-right {
    font-weight: bold;
    border-top-left-radius: 10px;
    background:#9292f7;
}

.side-panel {
    background-color: #e4e4ff;
}

.side-panel-left {
    background:#9292f7;
    border-bottom-right-radius: 10px;
    min-height: 1vw;
    margin-bottom: 10px;
}

.side-panel-right {
    background:#9292f7;
    border-bottom-left-radius: 10px;
    min-height: 1vw;
    margin-bottom: 10px;
}

.middle-panel {
    padding-left: 10px;
    padding-right: 10px;
}

.component-title {
    font-weight: bold;
}

.section-title {
    font-weight: bold;
}

.error-bar {
    font-weight: bold;
    background-color: rgb(211, 74, 74);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.news-article {
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #9292f7;
}

.news-icon {
    padding-right: 0px;
    margin-right: 0px;
}

.small-space-left {
    padding-left: 5px;
}

.space-left {
    padding-left: 10px;
    margin-left: 10px;
}

.news-icon {
    width: 100px;
    height: 100px;
}

.news-title {
    padding: 8px 15px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #ecf0f1;
    border-radius: 4px;
  }

.news-title > li {
    display: inline-block;
 }

.news-title > li + li:before {
    content: "-\00a0";
    padding: 0 5px;
    color: #cccccc;
 }

.news-title-button {
    padding: 8px 15px;
    margin-bottom: 10px;
}

.user-news-input {
    width: 100%;
    resize: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

.news-icon-thumbnail {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding: 5px;
}

.news-icon-thumbnail-active {
    width: 50px;
    height: 50px;
    background:#9292f7;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
}

.option-desc {
    padding-left: 15px;
    font-size: small;
    font-style: italic;
}

.planet-status-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.hover-section {
    position: relative;
    display: inline-block;
}

.hover-section .hover-text {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.hover-section:hover .hover-text {
    visibility: visible;
}

.current-research {
    padding: 0.5em;
    margin: 0.5em;
    border-width: 0.15em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #9292f7;
}

.current-project {
    padding: 0.5em;
    margin: 0.5em;
    border-width: 0.15em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #9292f7;
}

.space-top {
    padding-top: 0.5em;
    margin-top: 0.5em;
}

.space-top-sm {
    padding-top: 0.25em;
    margin-top: 0.25em;
}

.space-bottom {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.space-bottom-sm {
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
}

.selected-chassis {
    font-weight: bold
}

.available-component {
    padding: 0.5em;
    margin: 0.5em;
    border-width: 0.15em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #9292f7;
}

.selected-component {
    padding: 0.5em;
    margin: 0.5em;
    border-width: 0.15em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #9292f7;
}

.ship-name-input {
    width: 100%;
    resize: none;
}

.panel-sub-title {
    font-weight: bold
}

.panel-table-heading {
    font-weight: bold
}

.command-button {
    padding-top: 0.5em;
    margin-top: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.5em;
}

table tr.clickable {
    cursor: pointer;
}

td.icons {
    text-align: right;
}

td.noData {
    text-align: center;
}

.login-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.login-info{
	background-color: #050944;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
@media screen and (max-width: 640px) {
	.login-content{width: 90%;}
	.login-info{
		display: none;
	}
	.login-form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.login-content{width: 70%;}
}
.row > h2{
	color:#008080;
}
.login-form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.login-button {
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
