.design-panel-title {    
    font-weight: bold;
}

.title-left {
    font-weight: bold;
    border-top-right-radius: 10px;
    background:#9292f7;
}

.title-right {
    font-weight: bold;
    border-top-left-radius: 10px;
    background:#9292f7;
}

.side-panel {
    background-color: #e4e4ff;
}

.side-panel-left {
    background:#9292f7;
    border-bottom-right-radius: 10px;
    min-height: 1vw;
    margin-bottom: 10px;
}

.side-panel-right {
    background:#9292f7;
    border-bottom-left-radius: 10px;
    min-height: 1vw;
    margin-bottom: 10px;
}

.middle-panel {
    padding-left: 10px;
    padding-right: 10px;
}

.component-title {
    font-weight: bold;
}

.error-bar {
    font-weight: bold;
    background-color: rgb(211, 74, 74);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}